@import "tailwindcss";

:root {
}

.title {
  font-family: "Crimson Text", serif;
}
@theme {
  --color-primary: #f6e921;
  --color-theme-dark: #111411;
  --color-theme-gray: #363938;
  --color-theme-light-gray: #989696;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-title: var(--font-crimsonText);
}
